@model MobileStoreConnection.Product
@{ 
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="clear"> </div>
		
<!----End-top-nav---->
<!----End-Header---->
<div class="clear"> </div>
<div class="wrap">
    <div class="content">
        <div class="content-grids">
            @*<div class="details-page">
                <div class="back-links">
                    <ul>
                        <li><a href="#">Home</a><img src="~/Asset/images/arrow.png" alt=""></li>
                        <li><a href="#">Product</a><img src="~/Asset/images/arrow.png" alt=""></li>
                        <li><a href="#">Product-Details</a><img src="~/Asset/images/arrow.png" alt=""></li>
                    </ul>
                </div>
            </div>*@
            @*<div class="detalis-image">
                <div class="flexslider">
                    <ul class="slides">
                        <div class="thumb-image"> <img src="~/Asset/images/@Model.Image" data-imagezoom="true" class="img-responsive" alt="" /> </div>*@
                        @*<li data-thumb="~/Asset/images/m1.jpg">
                            <div class="thumb-image"> <img src="~/Asset/images/@Model.Image" data-imagezoom="true" class="img-responsive" alt="" /> </div>
                        </li>*@
                        @*<li data-thumb="~/Asset/images/m4.jpg">
            <div class="thumb-image"> <img src="~/Asset/images/m4.jpg" data-imagezoom="true" class="img-responsive" alt="" /> </div>
        </li>
        <li data-thumb="~/Asset/images/m7.jpg">
            <div class="thumb-image"> <img src="~/Asset/images/m7.jpg" data-imagezoom="true" class="img-responsive" alt="" /> </div>
        </li>*@
                    @*</ul>*@
                </div>
            </div>
            <div class="detalis-image-details">
                <div class="details-categories">
                    <ul>
                        <li><h3>Category:</h3></li>
                        <li class="active1"><a href="#"><span>Nokia Mobiles</span></a></li>
                        <li><a href="#">HTC Mobiles</a></li>
                        <li><a href="#">Iphone Mobiles</a></li>
                        <li><a href="#">Zen Mobiles</a></li>
                    </ul>
                </div><br />
                <div class="brand-value">
                    <h3>@Model.Name</h3>
                    <div class="left-value-details">
                        <ul>
                            <li>Price:</li>
                            <li><h5>@Model.Price</h5></li>
                            <br/>
                            <li><p>Not rated</p></li>
                        </ul>
                    </div>
                    <div class="right-value-details">
                        <a href="#">Instock</a>
                        <p>No reviews</p>
                    </div>
                    <div class="clear"> </div>
                </div>
                <div class="brand-history">
                    <h3>Description :</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    <a href="#">Addcart</a>
                </div>
                <div class="share">
                    <ul>
                        <li> <a href="#"><img src="~/Asset/images/facebook.png" title="facebook" /> Facebook</a></li>
                        <li> <a href="#"><img src="~/Asset/images/twitter.png" title="Twiiter" />Twiiter</a></li>
                        <li> <a href="#"><img src="~/Asset/images/rss.png" title="Rss" />Rss</a></li>
                    </ul>
                </div>
                <div class="clear"> </div>

            </div>
            <div class="clear"> </div>
            <div class="menu_container">
                <p class="menu_head">Lorem Ipsum<span class="plusminus">+</span></p>
                <div class="menu_body" style="display: none;">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>
                <p class="menu_head">About Product<span class="plusminus">+</span></p>
                <div class="menu_body" style="display: none;">
                    <p>theonlytutorials.com is providing a great varitey of tutorials and scripts to use it immediate on any project!</p>
                </div>
            </div>
        </div>

    </div>
    <div class="content-sidebar">
        <h4>Categories</h4>
        <ul>
            <li><a href="#">Tablet</a></li>
            <li><a href="#">Adroid</a></li>
            <li><a href="#">iOS</a></li>
            <li><a href="#">Windows Phone</a></li>
        </ul>
    </div>
</div>
<div class="clear"> </div>
		   
